@page
@model FreshFarmWeb.Pages.ChangePasswordModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		
		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Change Password</h1>

			
			<form method="post">

				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3">
					<label class="form-label" asp-for="ChangePassword.CurrentPassword">Current Password</label>
					<input type="text" asp-for="ChangePassword.CurrentPassword" class="form-control" />
					<span asp-validation-for="ChangePassword.CurrentPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="ChangePassword.Password">New Password</label>
					<input type="text" asp-for="ChangePassword.Password" class="form-control" />
					<span asp-validation-for="ChangePassword.Password" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="ChangePassword.ConfirmPassword">Confirm Password</label>
					<input type="text" asp-for="ChangePassword.ConfirmPassword" class="form-control" />
					<span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
				</div>

				
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Change Password</button>
				</div>
				

			</form>
		</div>
	</div>
</div>
